<!DOCTYPE html>
<html lang="es">
  <ui-head ruta="Crear viaje"></ui-head>
  <body>
    <ui-navbar titulo="App Viajes" nombre="Ramiro Cerdá"></ui-navbar>

    <div class="container" style="max-width: 800px">
      <h2 class="card-title mt-5 text-primary">Crear Viaje</h2>

      <div class="container border border-secondary mt-5 p-4 ma-2">
        <form method="post" class="row">
          <div class="col">
            <div class="m-2">
              <label for="fecha" class="form-label">Fecha</label>
              <input type="date" class="form-control" id="fecha" />
            </div>
            <div class="m-2">
              <label for="horaInicio" class="form-label">Hora de Inicio</label>
              <input type="time" class="form-control" id="horaInicio" />
            </div>
            <div class="m-2">
              <label for="precioTotal" class="form-label">Precio Total</label>
              <input type="number" class="form-control" id="precioTotal" />
            </div>
          </div>
          <div class="col">
            <div class="m-2">
              <label class="mb-2">Vehiculo</label>
              <select
                class="form-select"
                aria-label="Default select example"
                id="vehiculo"
              >
                <option selected>Seleccione el vehículo</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="m-2">
              <label for="observacion" class="form-label">Observaciones</label>
              <textarea
                class="form-control"
                id="observacion"
                rows="2"
              ></textarea>
            </div>
            <div class="m-2 mt-4">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="equipaje"
              />
              <label class="form-check-label" for="equipaje">
                ¿Se permite equipaje?
              </label>
            </div>
          </div>

          <div class="m-2 mt-5">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a
                  class="nav-link active"
                  id="origen"
                  data-bs-toggle="tab"
                  href="#nav-home"
                  role="tab"
                  aria-controls="nav-home"
                  aria-selected="true"
                  >Origen</a
                >
                <a
                  class="nav-link"
                  id="destino"
                  data-bs-toggle="tab"
                  href="#nav-profile"
                  role="tab"
                  aria-controls="nav-profile"
                  aria-selected="false"
                  >Destino</a
                >
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div
                class="tab-pane fade show active"
                id="nav-home"
                role="tabpanel"
                aria-labelledby="nav-home-tab"
              >
                <div class="row">
                  <div class="col">
                    <div class="m-2">
                      <label for="localidadOrigen" class="form-label"
                        >Localidad</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="localidadOrigen"
                      />
                    </div>
                    <div class="m-2">
                      <label for="calleOrigen" class="form-label">Calle</label>
                      <input
                        type="text"
                        class="form-control"
                        id="calleOrigen"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="m-2">
                      <label class="mb-2">Localidad</label>
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        id="localidadSeleccionadaOrigen"
                      >
                        <option selected>Seleccione la localidad</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                    <div class="m-2">
                      <label for="numeroCalleOrigen" class="form-label"
                        >Numero</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        id="numeroCalleOrigen"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="nav-profile"
                role="tabpanel"
                aria-labelledby="nav-profile-tab"
              >
                <div class="row">
                  <div class="col">
                    <div class="m-2">
                      <label for="localidadDestino" class="form-label"
                        >Localidad</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="localidadDestino"
                      />
                    </div>
                    <div class="m-2">
                      <label for="calleDestino" class="form-label">Calle</label>
                      <input
                        type="text"
                        class="form-control"
                        id="calleDestino"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="m-2">
                      <label class="mb-2">Localidad</label>
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        id="localidadSeleccionadaDestino"
                      >
                        <option selected>Seleccione la localidad</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                    <div class="m-2">
                      <label for="numeroDestino" class="form-label"
                        >Numero</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        id="numeroDestino"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!------ Dependencias ------>
    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="jQuery/crearViaje.js"></script>
    <!-- Componentes -->
    <script src="js/head.js"></script>
    <script src="js/navbar.js"></script>
  </body>
</html>
