<!DOCTYPE html>
<html lang="es">
  <ui-head ruta="Perfil"></ui-head>
  <body>
    <ui-navbar titulo="App Viajes"></ui-navbar>

    <div class="container" style="max-width: 800px">
      <h2 class="card-title mt-5 text-primary">Perfil</h2>

      <div class="row mt-5">
        <div class="col-3">
          <img
            style="height: 150px"
            src="https://static.vecteezy.com/system/resources/previews/000/495/460/non_2x/vector-profile-line-black-icon.jpg"
            class="img-thumbnail"
            alt="Foto de perfil"
          />
          <button type="button" class="btn btn-outline-primary mt-3">
            Editar foto
          </button>
        </div>

        <div class="col-8 ms-5">
          <div
            style="min-height: 200px"
            class="container border border-secondary p-4"
            id="datos"
          ></div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-9">
          <h4>Tus Vehículos</h4>
        </div>
        <div class="col-3 mb-2">
          <button type="button" class="btn btn-primary">
            Agregar un vehículo
          </button>
        </div>
        <div class="list-group" id="vehiculos">
          <!-- Aca va el for -->
      </div>
    </div>

    <!------ Dependencias ------>
    <!-- JQuery libreria -->
    <script src="jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <!-- Componentes -->
    <script src="js/head.js"></script>
    <script src="js/navbar.js"></script>
    <script src="jquery/perfil.js"></script>
  </body>
</html>
