<!DOCTYPE html>
<html lang="es">
  <ui-head ruta="Ver viajes"></ui-head>
  <body>
    <ui-navbar titulo="App Viajes"></ui-navbar>

   
    <div class="container" style="max-width: 800px">
      <h2 class="card-title mt-5 text-primary">Historial</h2>

      <div class="row mt-5">
        <div class="list-group">
          <!-- Aca va el for -->
          <div class="border border-3 rounded m-2 p-3 row">
            <div class="col">
              <div class="m-2">
                <label for="input2" class="form-label">Fecha</label>
              </div>
              <div class="m-2">
                <label for="input3" class="form-label">Hora</label>
              </div>
            </div>
            <div class="col">
              <label class="m-2">Estado</label>
              <div class="m-2">
                <label for="input4" class="form-label">Destino</label>
              </div>
            </div>
            <div class="col">
              <label class="m-2">Precio Total</label>
              <div class="m-2">
                <label for="input4" class="form-label">Vehiculo</label>
              </div>
            </div>
            <div class="col-2 ms-3 mt-3">
              <div class="row">
                <button type="button" class="btn btn-secondary mt-2">
                  Ver
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!------ Dependencias ------>
    <!-- JQuery libreria -->
    <script src="jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <!-- Componentes -->
    <script src="js/head.js"></script>
    <script src="js/navbar.js"></script>
  </body>
</html>
