<!DOCTYPE html>
<html lang="es">
  <ui-head ruta="Ver viajes"></ui-head>
  <body>
    <ui-navbar titulo="App Viajes"></ui-navbar>

    ver viajes

    <!------ Dependencias ------>
    <!-- JQuery libreria -->
    <script src="jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <!-- Componentes -->
    <script src="js/head.js"></script>
    <script src="js/navbar.js"></script>
  </body>
</html>
